<html>

<head>
    <title>
        Data Kecurangan
    </title>

</head>

<body>

    <head>
        <h3>
            There are
            <%= dataCurang.length %> persons who voted more than one
        </h3>
    </head>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/results/top5">
                    Top 5
                </a>
        <a href="/voters"> Voters </a>
        <a href="/results/analyzed">
                    Analisa Kecurangan
                </a>
    </div>
    <br>

    <div class="main-table">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Number of Votes</th>
            </tr>
            <% dataCurang.forEach((curang)=>{ %>
                <tr>

                    <td>
                        <%= curang.name%>
                    </td>
                    <td>
                        <%= curang.gender%>
                    </td>
                    <td>
                        <%= curang.age%>
                    </td>
                    <td>
                        <%= curang.number%>
                    </td>

                </tr>
                <% })%>

        </table>
    </div>

</body>

</html>