<html>

<head>

</head>

<body>
    <h1>TOP 5 Result</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Politician ID</td>
            <td>Total</td>

            <td>First Name</td>

        </tr>

        <tr>

            <ol></ol>
            <td>
                <%=rowsTop5[0].name%>
            </td>
            <td>
                <%=rowsTop5[0].politician_id%>
            </td>
            <td>
                <%=rowsTop5[0].total%>
            </td>


            <td>

                <ol>

                    <%rowsTop5.forEach(row=>{%>
                        <%if(row.name == rowsTop5[0].name){%>
                            <li>
                                <%=row.first_name%>
                            </li>

                            <%}%>
                                <%})%>

                </ol>

            </td>


        </tr>
        <tr>

            <ol></ol>
            <td>
                <%=rowsTop5[32].name%>
            </td>
            <td>
                <%=rowsTop5[32].politician_id%>
            </td>
            <td>
                <%=rowsTop5[32].total%>
            </td>


            <td>

                <ol>

                    <%rowsTop5.forEach(row=>{%>
                        <%if(row.name == rowsTop5[32].name){%>
                            <li>
                                <%=row.first_name%>
                            </li>

                            <%}%>
                                <%})%>

                </ol>

            </td>


        </tr>
        <tr>

            <ol></ol>
            <td>
                <%=rowsTop5[64].name%>
            </td>
            <td>
                <%=rowsTop5[64].politician_id%>
            </td>
            <td>
                <%=rowsTop5[64].total%>
            </td>


            <td>

                <ol>

                    <%rowsTop5.forEach(row=>{%>
                        <%if(row.name == rowsTop5[64].name){%>
                            <li>
                                <%=row.first_name%>
                            </li>

                            <%}%>
                                <%})%>

                </ol>

            </td>


        </tr>
        <td>
                <%=rowsTop5[95].name%>
            </td>
            <td>
                <%=rowsTop5[95].politician_id%>
            </td>
            <td>
                <%=rowsTop5[95].total%>
            </td>
            <td>

                <ol>

                    <%rowsTop5.forEach(row=>{%>
                        <%if(row.name == rowsTop5[95].name){%>
                            <li>
                                <%=row.first_name%>
                            </li>

                            <%}%>
                                <%})%>

                </ol>

            </td>


        </tr>
        <td>
                <%=rowsTop5[126].name%>
            </td>
            <td>
                <%=rowsTop5[126].politician_id%>
            </td>
            <td>
                <%=rowsTop5[126].total%>
            </td>
            <td>

                <ol>

                    <%rowsTop5.forEach(row=>{%>
                        <%if(row.name == rowsTop5[126].name){%>
                            <li>
                                <%=row.first_name%>
                            </li>

                            <%}%>
                                <%})%>

                </ol>

            </td>


        </tr>


    </table>

</body>

</html>